* {
	box-sizing: border-box;
}
body{
	margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  flex-wrap: wrap;
  background-image: url(../img/bg-body.png);
  background-size: auto;
}
h1{
  text-align: center;
}
.title{
  text-align: center;
}
.form-container{
  	text-align: center;
	  position: fixed;
	  background-color: rgb(6, 11, 40);
	  width: 100%;
	  text-align: center;
	  color: white;
	  height: 30px;
		top: 0;
	  /*padding-top: 1vh;*/
	}
.searcher{
	position: relative;
	padding-top: 0.5%;

}
.container{
  padding-top: 3vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;



}
.ahora{
  display: flex;
  justify-content: center;
}
.now{

  text-align: center;
  border-radius: 2px;
  border: 5px solid rgba(0,0,0,.5);
  width: 40%;
  margin-left:30%;
  margin-right: 30%;
  border-radius: 20px;
  color: black;
  background-color: rgba(255,255,255,.9);

}
.forca{
  display: flex;
  flex-direction: row;
/*  margin-left: 20%;
  margin-right: 10%;*/
  justify-content: center;
  align-content: center;
}
.forecast{

  padding: 5%;
  border: 5px solid rgba(0,0,0,.5);
  /*background-color:#000080;*/
  background-color: rgba(255,255,255,.9);
  border-radius: 20px;
  justify-content: center;
  width: 30%;
  margin: 2%;
  color: black;
}
.map{


  position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;

}
h2{
  font-size: 22px;
  text-align: center;
}
h3{
  font-size: 15px;
}

.map iframe{
  position: absolute;
  	top: 0;
  	left: 0;

  	width: 100%;
  	height: 100%;
}

.fail{
	height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
	text-align: center;

}
#nw{
	background-color: rgba(255,255,255,.9);
}
#f1{
	background-color: rgba(255,255,255,.9);
}
#f2{
	background-color: rgba(255,255,255,.9);
}
#f3{
	background-color: rgba(255,255,255,.9);
}
@media only screen and (max-width:1280px) {
	.now{
		width: 70%;
	}

	.forca{
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}
	.forecast{
		width: 50%;
		margin-left: 25%;

	}

}
